@import "npm:leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

#map {
  z-index: 0;
  height: 50%;
  width: 50%;
  margin: 0 auto;
}
